@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@keyframes slideRight {
  from { margin-left: -10em; }
  to { margin-left: 10em;  }
}
* {box-sizing: border-box; margin: 0; padding: 0; }
body  {font-family: 'Open Sans Condensed', sans-serif;}
body{background: #244f6a;}
h1, h2 {text-align: center; color: white;}
h1{padding-top: 1em;}
h2{padding-bottom: 1em;}


body            {display: flex; flex-direction: column;}
main            {display: flex;}
nav             {width: 20vw; margin-left: 2%;}
main            {flex: 1;}
section         {flex: 1;}
nav             {order: -1;}
nav             {display: flex; flex-direction: column; justify-content: space-between;}

@media only screen and (max-width: 48em) {/*the 768px breakpoint goes here*/}



#board table{border-collapse: collapse; margin: 0 auto;}
.fields{text-align: center; cursor: pointer;
}
#moves{
  color: white; font-size: 1.25em; max-height: 10em;
  overflow-y: auto;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 25%; /* Location of the box */
  left: 0;
  top: 0;
  color: white;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #2a7091;
  margin: auto;
  padding: 1em;
  flex-direction: column;
  display: flex;
  border: 1px solid #888;
  width: 34.5%;
}
#loader{background-color: rgba(0,0,0,0.85); font-size: 6em;}
#loader p {text-align: center;}

.movingFigures{text-align: center;}
.movingFigures p {display: inline;}
.movingFigures p:nth-child(1) {animation: slideRight 1.5s infinite alternate ease-in-out;}

.promotingButtons{align-self: center;}
.promoteToFigure{border: none; background: transparent; color: white; font-size: 3em;}
.promoteToFigure{border: 1px solid white; border-radius: 0.3em;  cursor: pointer;}
.promoteModalTexts {font-size: 1.25em; padding: .3em 0; text-align: center;}
.promoteToFigure:hover{color:#2a7091; background: white;}